h1 {
    text-align: center;
    padding: 12px 0;
    color: #c18c00;
}

h3,
h4 {
    color: #c18c00;
}

p {
    font-size: 14px;
}

.btn {
    background: linear-gradient(45deg, #d81c02, #ff9501);
    border-radius: 40px;
    font-size: 12px;
}

#top-bg {
    background-image: url(images/BG-images/bg-top.jpg);
    width: 100%;
    height: 307px;
    background-repeat: round;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.top-headers {
    color: #ebad1c;
    font-size: 1.6rem;
    text-align: center;
    font-family: fantasy;
}

/* Nav  */
.nav-link {
    color: white !important;
}

a:hover {
    color: #8b2a20 !important;
}

/* carousel-img */

.carousel-img {
    height: 500px;
}


/* About  */
#yt-video {
    width: 100%;
    height: 264px;
}

/* management_committee */



.mc-h5 {
    text-align: center;
    padding: 7px 0;
}

.mc-h6 {
    text-align: center;
    padding: 7px 0;
}

/* SEVAS */

.tr-bg {
    background-color: #e16b014f;
}

/* Donation */

#donation {
    background-image: url("images/BG-images/bg-img0.png");
    background-repeat: round;
    color: white;
    text-align: end;
}

#donation h4 {
    color: white;

}


/* Appeal  */

.appeal-btn {
    background-color: #800000;
    height: 30px;
    color: whitesmoke;
}


/* RENOVATION COMMITTEE */


/* CONTACT (FOOTER) */

footer {
    background-color: #8c2d22;
}

.ft-div {
    background-color: #8c2d22;
}



.ft-div a {
    color: white;
    text-decoration: none;
}

#copy-a {
    color: #c18c00;
}


/* ANIMATION  */

.animation-fadeIn {
    animation: fadeInAnimation ease-in 3s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* MEDIA  */


@media only screen and (max-width: 500px) {
    .carousel-img {
        height: 300px;
    }
}